.class-1{

 background-color:da; 
 border-style 

}

.class-2{

 height: 30px;
 background-color: darkslateblue;
 padding: 20px;
 border-style:solid;

}

.class-3{

 height: 30px;
 border-radius: 5px;
 background-color: yellow;
 border-style:solid;

}

.class-4{

 height:400px;
 width:985px;
 border-style:solid;

}

.class-5{

height:800px;
background-color:bisque;
border-style:solid;

}

.class-6{

height: 300px;
background-color:darkslateblue;
border-style:solid;
 
}