.class-1 {

 height:10px;

 background-color:black;   
}

.class-2{

 height:40px;

 margin-top:-5px;
 margin-left:-5px;
 

}

.class-3{

 height:170px;
 
 background-color:purple; 
 margin-left:-5px;
 margin-top:-55px;
 font-size:40px; 
 color: red;
 }

.class-4{

height:15px;

background-color: black;
margin-left:-5px;
color:bisque;
padding: 20px;
font-size:15px;

}

.class-6{

height:600px;

background-color:purple;
margin-left:-5px;
 
}

.class-7{
height:150px;
 
display:inline-block;
}

.class-8{

height:300px;

background-color: red;    
}